person-obj/src/main/resources/xsd/person-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>


<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.turkmen.org/person-schema">
	<element name="person">
		<complexType>
			<sequence>
				<element name="name" type="string"></element>
			</sequence>
			<attribute name="id" type="string" use="required"></attribute>
		</complexType>
	</element>
</schema>